.userOrderContainer {
  width: 105vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 100vh;
}

.userOrdersTable {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.userOrdersTable th,
.userOrdersTable td {
  padding: 12px;
  text-align: left;
}

.userOrdersTable th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #dddddd;
}

.userOrdersTable td {
  border-bottom: 1px solid #dddddd;
}

.userOrdersTable .greenColor {
  color: green;
}

.userOrdersTable .redColor {
  color: red;
}

.userOrdersTable a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  width: 80%;
  max-width: 120px;
  height: 30px;
  transition: background-color 0.3s ease;
}

.userOrdersTable a:hover {
  background-color: #0062cc;
}

.userOrdersTable .MuiDataGrid-colCellWrapper {
  display: flex;
  align-items: center;
}

.userOrdersTable .MuiDataGrid-colCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .userOrderContainer {
    padding: 0;
    height: 93vh;
  }

  .userOrdersTable {
    font-size: 16px;
  }

  .userOrdersTable th,
  .userOrdersTable td {
    padding: 8px;
  }

  .userOrdersTable a {
    font-size: 12px;
    height: 25px;
    max-width: 80px;
  }
}
