.categoryContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: auto;
}

.categoryContainer h1 {
  font: 400 2rem;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 2rem;
  text-align: start;
}

.categoryForm {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  padding: 4vmax;
  justify-content: space-evenly;
  width: 60vh;
  height: 60vh;
  background-color: #8a8989;
  border: 0.5px solid rgba(0, 0, 0, 0.267);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.categoryForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0.5rem 0;
}
.categoryForm > div > input,
.categoryForm > div > select,
.categoryForm > div > textarea {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.categoryForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #2d79e6;
  color: #fff;
  font-size: 14px;
}

#categoryyy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#categoryyy > input {
  display: none;
}

.image-preview {
  margin-top: 10px;
  padding: 10px;
  max-width: 300px;
}

.image-preview-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.image-preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type='file'] {
  display: none;
}

#createProductBtn {
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font: 300 0.9vmax 'Roboto';
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#createProductBtn:hover {
  background-color: rgb(91, 89, 89);
}

@media screen and (max-width: 600px) {
  .createProductContainer {
    background-color: rgb(255, 255, 255);
  }
  .categoryForm {
    padding: 6vmax;
  }

  .categoryForm > div > input,
  .categoryForm > div > select,
  .categoryForm > div > textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .categoryForm > div > svg {
    font-size: 2.8vmax;
  }

  #categoryImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #categoryImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
  }

  #createProductBtn {
    font: 300 1.9vmax 'Roboto';
    padding: 1.8vmax;
  }
}
