.updateProductContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headingUpdateProd {
  font: 300 2rem;
  padding: 1vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
}

.productUpdateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3vmax;
  justify-content: space-evenly;
  height: 80%;
  width: 40vh;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productUpdateForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0.5rem 0;
}

.productUpdateForm > div > input,
.productUpdateForm > div > select,
.productUpdateForm > div > textarea {
  padding: 1.5vmax 3vmax;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.267);
  font: 300 0.9vmax;
  outline: none;
  transition: all 0.2s;
}

.productUpdateForm > div > input:focus,
.productUpdateForm > div > select:focus,
.productUpdateForm > div > textarea:focus {
  border-bottom: 2px solid tomato;
}

.productUpdateForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

#productUpdateformfile > input {
  display: none;
}

#productUpdateformfile > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.2s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

#productUpdateformfile > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

#updateProductFormImage {
  width: 100%;
  overflow: auto;
}

#updateProductFormImage > img {
  width: 3vmax;
  margin: 0 1vmax;
}
#updateProductBtn {
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font: 300 0.9vmax 'Roboto';
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#updateProductBtn:hover {
  background-color: rgb(91, 89, 89);
}

@media screen and (max-width: 600px) {
  .updateProductContainer {
    width: 40%;
    height: auto;
  }
  .productUpdateForm {
    padding: 2vmax;
  }

  .productUpdateForm > div > input,
  .productUpdateForm > div > select,
  .productUpdateForm > div > textarea {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  #updateProductBtn {
    font: 400 1.9vmax 'Roboto';
    padding: 1.8vmax;
  }
}
