/*DashBoard********************************************************************************************************/
.dashboard {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.dashContainer {
  background-color: #f7f7f8;
  padding: 3rem;
}

.dashContainer > h1 {
  color: rgba(0, 0, 0, 0.733);
  background-color: #f7f7f8;
  font: 300 2rem 'Roboto', sans-serif;
  text-align: start;
  width: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.dash {
  margin: 2rem 0;
}

.dash > div {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dash-2 {
  flex-direction: row;
}

.dash-2 > a {
  color: rgb(0, 0, 0);
  font: 400 1.5rem 'Roboto', sans-serif;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem;
  width: 30vmax;
  height: 8vmax;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.dash-2 > a:first-child {
  background-color: rgb(3, 3, 3);
  color: rgb(255, 255, 255);
}

.dash-2 > a:last-child {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.dash-2 > a:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15);
}

.dash-2 > a > P {
  margin: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 2fr;
    flex-direction: column;
  }

  .dashContainer {
    border-left: none;
  }

  .dash > div > p {
    margin: 0;
  }

  .dash-2 {
    flex-wrap: wrap;
  }

  .dash-2 > a {
    padding: 0.3rem;
    display: flex;
    margin: 1rem;
    font: 200 0.7rem 'Roboto';
  }
}
