/* .categoryCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.categoryCard > img {
  width: 14vmax;
  height: 100%;
}

.categoryCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
}

.categoryCard > p {
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.categoryCard > span {
  margin: 0.5vmax;
  color: rgb(7, 7, 7);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1vmax;
}

.categoryCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .categoryCard > p {
    font-size: 1.7vmax;
  }

  .categoryCard > div {
    margin: 0vmax;
    display: block;
  }

  .categoryCard > div > span {
    width: 1vmax;
  }

  .categoryCard > span {
    font-size: 2vmax;
  }

  .categoryCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax 'Roboto';
  }
} */

/* Category Card Container */
.categoryCard {
  position: relative; /* Add position property for absolute positioning of shop now button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 280px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
}

/* Category Card Image */
.categoryCard img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Category Card Title */
.categoryCard p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

/* Shop Now Button */
.shopNowBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #0e22f9;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* Category Card Hover */
.categoryCard:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
}

.categoryCard:hover .shopNowBtn {
  opacity: 1;
}
