.loader {
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f8;
  display: grid;
  place-items: center;
  max-width: 100%;
  border-radius: 50%;
  display: inline-block;
  animation: pulse 1s linear infinite;
}

.loader > div {
  content: '';
  position: absolute;
  /* width: 48px;
  height: 48px; */
  width: 10vmax;
  height: 10vmax;
  border: 5px solid rgb(2, 2, 2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  place-items: center;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
  /* border-bottom: 5px solid rgba(0, 0, 0, 0.719);

  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite; */
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
